```
# Flutter/Dart
.dart_tool/
.build/
.packages
flutter/ephemeral/
*.iws
*.sw?
**/lib/**
**/test/**

# IDE
.idea/
.vscode/

# Environment
.env
.env.local
*.env.*

# Logs
*.log
**/logs

# OS
.DS_Store
Thumbs.db
```